<div class="panel init">
  <span id="dim">
    <h1>Seu amigo, online!</h1>
    <p>
      Fazer o amigo secreto agora ficou mais fácil e pratico. Veja você mesmo!
    </p>
  </span>
</div>

<div class="panel about">
  <h1>Simples e pratico</h1>

  <span>
    <%= image_tag "png/create2.png", class: "left" %>
    <p id="align-text">O idealizador cria um grupo e chama os amigos.</p>
  </span>

  <span>
    <%= image_tag "png/staff1.png", class: "left" %>
    <p id="align-text">O grupo terá uma senha para assegurar de invasores.</p>
  </span>

  <span>
    <%= image_tag "png/placeholder8.png", class: "left" %>
    <p id="align-text">
      Data e local da troca de presentes podem ser adicionados na descrição do grupo.
    </p>
  </span>

  <span>
    <%= image_tag "png/timer20.png", class: "left" %>
    <p id="align-text">
      O sorteio é feito automaticamente conforme a data determinada pelo idealizador.
    </p>
  </span>

  <span>
    <%= image_tag "png/gift81.png", class: "left" %>
    <p id="align-text">
      Cada pessoa pode solicitar o presente que deseja.
    </p>
  </span>
<br>
  <span>
    <%= image_tag "png/man204.png", class: "left" %>
    <p id="align-text">
      Todos devem se divertir muito!
    </p>
  </span>
</div>